name: Ada (GNAT)

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
          submodules: true

    - name: Set up alire
      uses: alire-project/setup-alire@v5

    - name: Build crate
      run: |
        wget https://github.com/raysan5/raylib/releases/download/5.0/raylib-5.0_linux_amd64.tar.gz
        tar xf raylib-5.0_linux_amd64.tar.gz
        export C_INCLUDE_PATH=${PWD}/raylib-5.0_linux_amd64/include/:${C_INCLUDE_PATH}
        export LIBRARY_PATH=${PWD}/raylib-5.0_linux_amd64/lib/:${LIBRARY_PATH}
        alr --non-interactive build
        if pushd 'examples'; then
          alr --non-interactive build
        fi
